.loginHead{
    background-color: #400000;       
  }
  
  .loginHead strong {
    color: white;
    font-size: 2rem;
  }
  
  #loginButton {
    background-color: #3F5F73;
<<<<<<< HEAD
=======
    width: auto;
>>>>>>> a31a231a81a68b48e94fb97a051418bda8bb1d63
  }
  
  #email {
    width: 100%;
    
  }
  
  .loginForm{
    display: center;
    margin: 1px 10px;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    width: 50%;
    border-radius: 10%;
    height: 100vh;
    margin-top: 100px;
  }
  #password {
    width: 100%;
  }
<<<<<<< HEAD
  #loginButton {
    width: auto;
  }
=======
>>>>>>> a31a231a81a68b48e94fb97a051418bda8bb1d63
  #singupLink {
    width: auto;
  }
  .loginPage{
    background-color: #D3C0C8;
  }
  